.App {
  text-align: center;
  color: white;
}

#root {
  margin: 0 auto;
  text-align: center;
}

.filter {
  backdrop-filter: blur(5px);
}

.border {
  border: 1px solid black;
  min-height: 100vh;
}
