@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: -webkit-fill-available;
}

body {
  position: relative;
  font-size: 1.6rem;
  min-height: 100vh;
  height: -webkit-fill-available;
}

#root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 5rem;
  margin-bottom: .5em;
}

h2 {
  font-size: 3.4rem;
  margin-bottom: .5em;
font-family: 'Dancing Script', cursive;
}

h3 {
  font-size: 2rem;
  margin-bottom: .5em;
}

h4 {
  font-size: 1.4rem;
  margin-bottom: .5em;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease;
}

a:hover {
  transform: scale(1.05);
}


input {
  border: none;
  border-radius: 9999px;
  padding: .5em 1em;
}

select {
  border: none;
  border-radius: 9999px;
  padding: .5em .7em;
}

select:focus {
  outline: none;
}

input,
select {
  font-family: inherit;
}

.error {
  color: #fa2e2e;
}

.btn {
  border: none;
  border-radius: 9999px;
  padding: .7em 1.2em;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.4rem;
  transition-duration: 0.3s;
}

.btn-primary {
  background-color: #ffd700;
  color: black;
  font-family: 'Cinzel', serif;
  
}

.btn-primary:hover {
  transition-duration: 0.3s;
  background-color: rgba(255, 215, 0, 0.6);
}

.btn-secondary {
  background-color: white;
  color: black;
}

.btn-secondary:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.back-btn {
  width: 100%;
  text-align: left;
  margin-bottom: 5rem;
}

@media (max-width: 40rem) {

  body {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 3.4rem;
    margin-bottom: .5em;
  }

  h2 {
    font-size: 2.8rem;
    margin-bottom: .5em;
  }

  h3 {
    font-size: 1.4rem;
    margin-bottom: .5em;
  }
}